@import './../../index';

.pagination {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
}

.item-quantity {
  padding: 5px 8px;
  border-radius: 8px;
  width: 50px;
  border: 2px $color-border solid;
  background-color: $color-button_background;
  color: #fff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield;
}

.arrow-btn {
  padding: 5px 8px;
  border-radius: 50%;
  border: 2px $color-border solid;
  background-color: $color-button_background;
  color: $color-button_text;
  font-weight: bold;
  cursor: pointer;
}