.main_page{
  display: flex;
}

.filters__panel {
  width: 25%;
  background: #6e7ca1;
  border: 1px solid orange;
  padding: .5%;
  height: fit-content;
}

.button__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2%;
  color: wheat;
}

.filters {
  border: 1px solid orange;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 5%;
  display: block;
}

.card-product__header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  button{
    border: 2px solid #0085f9;
    height: 42px;
    border-radius: 7px;
    font-size: 16px;
  }
}

.card-product{
  width: 75%;
}

.product__grid{  
  grid-template-columns: 11em 11em 11em 11em 11em 11em;
  display: grid;
}

.category__container{
  height: 20rem;
  overflow: auto;
}

.dual-slider{
  height: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h3 {
    padding-bottom: 15px;
  }
}

.search-product input{
  border: 2px solid #0085f9;
  height: 42px;
  border-radius: 7px;
  font-size: 16px;
}

.button__top > button{
  border: 2px solid #0085f9;
  height: 42px;
  border-radius: 7px;
  font-size: 16px;
}
