@import './../../index';

.modal-overlay {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: $color-button_background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-window {
  width: 60%;
  height: 70%;
  border: 4px $color-border solid;
  border-radius: 8px;
  background: $color-button_background;
}
