@import './../../index';

.product__card{
  position: relative;  
  padding-top: 12%;
  margin: 1%;
  border: 1px solid $color-border;
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 14rem;
}

.prosuct__item{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.product__text{
  width: 100%;
  height: 83%;
  cursor: pointer;
}

.product__item{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: no-repeat;
  background-size: cover;  
}

.product__title{
  background: rgba(92, 154, 216, 0.8);
  padding: 1%;
  font-size: 90%;
  text-align: center;
  border-bottom: 1px solid $color-border;
  white-space: nowrap;
  opacity: 0.9;
}

.product__buttons{
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.9;

   button{
    background-color: rgba(92, 154, 216, 0.8);
    border: 1px solid $color-border;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 80%;
    cursor: pointer;
   }
}

.Product-grid{  
  flex: 20%;
}
